@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
body {
    background-color: #202632;
    color: #ffffff;
    font-family: "Manrope", "sans-serif";
}

.card {
    width: 22rem;
    position: relative;
    background-color: rgba(49,58,73,255);
    padding: 1.25rem;
}
.card-title{
    text-align: center;
    color: hsl(150, 100%, 66%);
    margin-top: 0;
}

.pattern{
    width: 100%;
    margin-bottom: 0.6rem;
}

.dice {
    position: absolute;
    bottom: -1.25rem;
    background-color: hsl(150, 100%, 66%);
    padding: 0.6rem;
    border-radius: 50%;
    display: flex;
    margin-left: 8.5rem;   
}

.dice:hover{
    filter: drop-shadow(0 0 0.75rem hsl(150, 100%, 66%));
    transition: all 0.2s ease-out;
}

.card-text {
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
    font-size: 1.25rem;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}